spring:
  application:
    name: dailog

  data:
    web:
      pageable:
        one-indexed-parameters: true  #페이지가 1부터 시작
        default-page-size: 5

    redis:
      host: ${REDIS_HOST}
      port: 6379

  web:
    resources:
      static-locations: classpath:/static/

  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 1000
        show_sql: false
        dialect: org.hibernate.dialect.MySQLDialect

  mvc:
    path-match:
      matching-strategy: ant_path_matcher

  security:
    oauth2:
      client:
        provider:
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: kakao_account

        registration:
          naver:
            client-name: naver
            client-id: ENC(yJCSmDP1s1Azx1NRIkNJ9jzJvSAlWjWP3dC+AVczdrQ=)
            client-secret: ENC(cPDb89Z94qkO+OG3kffshTRDmof7MJ0X)
            authorization-grant-type: authorization_code
#            client-authentication-method: client_secret_basic
            scope:
              - name
              - email
          google:
            client-name: google
            client-id: ENC(ePS0/hU7BcNsKAJraHs8PHPLq7jVAEZ5DvZgme36uzE/JFRSeY+eghmjgI+4ZlC7voM2wWX4ub96uqZ48nuTfpqgxMXOrInhdFXFLfjoaK8fnYJoSNntRQ==)
            client-secret: ENC(Qx5ssruhir7N9hdWnRpHZe11n+B7FTIQni5p1Eoq1thZFRGEXbz9J7KRtZ4pyOgZ)
            authorization-grant-type: authorization_code
            scope:
              - profile
              - email
          kakao:
            client-name: kakao
            client-id: ENC(xUux5uIT5MjtAjXF6CzhIBNA3DpPmTuP6EPlXqsOvtGXYHei0WLC+kByT7TR9FSw)
            client-secret: ENC(NUvsKwsc3xClyv+Nau68cebZI/nU80pyVOfI89KXutEAmUM9JnO52u5IStIV+Fsh)
            authorization-grant-type: authorization_code
            client-authentication-method: client_secret_post
            scope:
              - profile_nickname
              - profile_image

jwt:
  jwt-key: ENC(RSGjcX9QD9BD7ylE/aUdoNv7K4DocRcCmTqkHiNN/WtrMzb5xLVHvOAeekdvxRYFaveMpetQkhI=)

jasypt:
  encryptor:
    password: ${JASYPT_ENCRYPTOR_PASSWORD}